<div class="card shadow-sm h-100 d-flex flex-column bg-gris text-blanco">
    <div class="card-header py-3 d-flex align-items-center">
        <h5 class="flex-grow-1">Mis Nóminas</h5>
    </div>

    <!-- tabla -->
    <ng-container *ngIf="nominas?.length; else noNominas">
    <div class="table-responsive tabla-scroll-wrapper" style="height: 50vh">
        <table class="table table-sm table-glass">
            <thead class="sticky-top">
            <tr class="text-center">
                <th>Periodo</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let n of nominas" class="text-center">
                <td class="text-center align-middle">{{ formatDate(n.periodo!) }}</td>
                <td>
                    <button class="btn btn-sm btn-azul-claro p-1" (click)="descargarNomina(n)">
                        <i class="bi bi-file-earmark-arrow-down"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </ng-container>
    <ng-template #noNominas>
        <p class="text-center my-3 text-muted">
            No hay nóminas para mostrar.
        </p>
    </ng-template>
</div>