<app-navbar-empresa></app-navbar-empresa>
<div class="container-fluid vh-100 d-flex flex-column bg-azul-oscuro">
    <div class="row mx-1 py-2 flex-shrink-0 bg-gris">
        <app-dashboard-trabajadores></app-dashboard-trabajadores>
    </div>

    <div class="row mx-1 flex-grow-1">
        <div class="col-md-6 d-flex flex-column bg-gris">
            <app-dashboard-permisos class="flex-fill"></app-dashboard-permisos>
        </div>
        <div class="col-md-6 d-flex flex-column bg-gris">
            <app-dashboard-fichajes class="flex-fill"></app-dashboard-fichajes>
        </div>
    </div>
</div>
