/* You can add global styles to this file, and also import other style files */
@use "sass:map";

// 1. Define tus colores extra
$custom-theme-colors: (
        "azul-claro": #273a47,
        "abeja": #fbbf24,
        "azul-oscuro": #1f2937,
        "gris": #4b5563,
        "blanco": #f3f4f6,
        "azul": #688cca
);

// 2. Fusiona con los colores por defecto ANTES de importar Bootstrap
//    Bootstrap aún no está importado, así que creamos $theme-colors desde cero
$theme-colors: map.merge(
                (
                        "primary": #5a2a83,
                        "secondary": #6c757d,
                        "success": #53ff9e,
                        "info": #0dcaf0,
                        "warning": #ffde6a,
                        "danger": #ff4355,
                        "light": #f8f9fa,
                        "dark": #212529,
                ),
                $custom-theme-colors
);


@import "bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Estilo base del snackbar */
.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: #4caf50; /* Color de fondo */
    --mat-mdc-snack-bar-button-color: #fff; /* Color del texto */

    .mdc-snackbar__label {
      color: white !important;
      font-weight: 500;
    }
  }

  /* Opcional: estilo para errores */
  &.snackbar-error {
    --mdc-snackbar-container-color: #f44336;
    --mat-mdc-snack-bar-button-color: #fff;
  }
}

.login-card {
  background-color: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}
.alta-card {
  background-color: white;
  margin: 1rem;
  padding: 2rem;
  border-radius: 1rem;
  max-width: 475px;
  width: 100%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.table-opacity {
  background-color: rgba(255, 255, 255, 0.1);
}

.table-glass {
  --bs-table-color: #000;
  --bs-table-bg: rgb(93, 102, 115, 0.1);
  --bs-table-border-color: rgba(44.347826087, 44.347826087, 44.347826087, 0.28);
  --bs-table-striped-bg: rgba(127.5, 127.5, 127.5, 0.145);
  --bs-table-striped-color: #000;
  --bs-table-active-bg: rgba(81.9642857143, 81.9642857143, 81.9642857143, 0.19);
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: rgba(100.3723404255, 100.3723404255, 100.3723404255, 0.1675);
  --bs-table-hover-color: #fff;
  color: var(--bs-table-color);
  border-color: var(--bs-table-border-color);
}

.table-glass thead{
  background-color: #1f2937 !important;
  color: white;
}
.table-glass th,
.table-glass td{
  color: white;
}
.table-glass tbody {
  background-color: #5d6673;
}
.table-glass tbody tr:hover{
  background-color: rgba(255, 255, 255, 0.1);
}

.form-control, .form-select {
  background-color: #273a47 !important;
  color: white !important;
  border: 1px solid #090909 !important;
}

.form-select{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");

}

.form-control::placeholder, .form-select::placeholder {
  color: #ccc !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #273a47 inset !important;
  -webkit-text-fill-color: white !important;
  color: white !important;
  caret-color: white;
  transition: background-color 0s ease-in, color 0s ease-in;
}